<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    <form action="user/new" method="post">
        <p>Nickname: </p>
        <input type='text' name='nickname'/>
        <p>Email:</p>
        <input type='text' name='email'/>
        <p>Password:</p>
        <input type="password" name="password">
        <p>Birthday:</p>
        <input type="date" name="birth">
        <p>Biography:</p>
        <textarea name='biography' rows=5 cols=40></textarea>

        <input type='submit' value='Create'/>
    </form>
</body>
</html>